.contact-titre{
    font-size: 50px;
    justify-self: center;
    margin-top: 100px;
    text-align: center;
}

.profile{
    font-size: 20px;
    text-align: center;
    justify-self: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.profile img{
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.liens{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 140px;
}

.liens div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.liens img{
    height: 60px;
    width: fit-content;
}

.liens img:hover{
    height: 70px;
    margin: -5px;
}

.liens p{
    margin-top: 10px;
    font-size: 20px;
}