header{
  display: flex;
  place-content: center space-between;
  border-style: solid;
  border-color: black;
  margin: -100px -100px 0;
  padding: 100px 100px 0;
}

header ul{
  display: flex;
  place-content: center space-around;
  width: 500px;
}

header li{
  list-style: none;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li:hover{
  padding: 5px;
  margin: -5px;
}

.titre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: solid;
  margin: 0 -30px;
  font-size: 40px;
}
