* {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

#edu{
  color: black;
  background-color: #96c8f7;
}

.education{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 40px;
  border-bottom: solid;
  background: #fff;
  padding-top: 40px;
}

.education .edu-titre{
  grid-column: span 2;
  text-align: center;
  margin: 20px;
}

.etud-left{
  border-right: solid 1px ;
  display: flex;
  justify-content: end;
  align-items: start;
}

.etud-right{
  border-left: solid 1px ;
  display: flex;
  justify-content: start;
  align-items: start;
}

.etud-left-content{
  width: 50%;
  justify-self: end;
  text-align: right;
  padding-right: 30px;
}

.etud-right-content{
  width: 50%;
  justify-self: start;
  text-align: left;
  padding-left: 30px;
}

.etud-titre{
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 400px;
}

.date{
  width: fit-content;
}

.etud-titre h1{
  max-width: 300px;
}

.etud-text{
  max-width: 300px;
  font-size: 20px;
}

.etud-left-content .etud-text{
  justify-self: end;
}

.dot{
    margin: 33px -17px;
    height: 25px;
    width: 25px;
    background-color: white;
    border: solid black;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
}

.etud-left:hover .dot{
  background-color: #96c8f7;
}

.etud-right:hover .dot{
  background-color: #96c8f7;
}
