#proj{
  color: black;
  background-color: #bf9d5e;
}

#projet-perso{
    background: #fff;
}

.type-projet{
    padding-top: 60px;
    text-align: center;
}

.div-projet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    opacity: 0;
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
                opacity 0.6s ease;
}

.div-image-projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.div-image-projet img{
    height: 200px;
    margin: 20px;
}

.div-image-projet img:hover{
    height: 210px;
    margin: 15px;
}

.div-image-projet h2{
    text-align: center;
}

.div-text-projet{
    width: 30%;
    font-size: 24px;
}

.right{
    text-align: right;
}

.left-div {
    transform: translateX(-120px) scale(0.95);
}

.right-div {
    transform: translateX(120px) scale(0.95);
}

.div-projet.animate {
    transform: translateX(0);
    opacity: 1;
}
