* {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

.education{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
  margin: 20px;
}

.etud_left{
  border-right: solid 1px ;
  display: flex;
  justify-content: end;
  align-items: start;
}
.etud_right{
  border-left: solid 1px ;
  display: flex;
  justify-content: start;
  align-items: start;
}

.etud_left_content{
  width: 40%;
  justify-self: end;
  text-align: right;
  padding: 30px;
}
.etud_right_content{
  width: 40%;
  justify-self: start;
  text-align: left;
  padding: 30px;
}

.etud_titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot{
    margin: 33px -17px;
    height: 25px;
    width: 25px;
    background-color: white;
    border: solid black;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
}
