* {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

header{
  display: flex;
  place-content: center space-between;
  border-bottom: solid black;
}

header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;

}

header ul{
  display: flex;
  place-content: center space-around;
  width: 500px;
  margin: 10px;
}

header li{
  list-style: none;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li:hover{
  padding: 5px;
  margin: -5px;
}

.titre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: solid;
  font-size: 40px;
  font-weight: bold;
}
